
.border-bottom2{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px orange;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.imgcentro{
    display: block;
    margin: 5px auto;
    max-width: 100%;
}

.border-morador-reservado{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px orange;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.border-log{
    border: solid 1px #b1b1b1;
    border-radius: 10px;

}

.border-bottom-historico{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px rgba(0, 168, 255, 0.42);
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.border-bottom-reservado{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px deepskyblue;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}

.border-bottom-indisponivel{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 6px 6px 6px 6px;
    border-left: solid 5px orangered;
    border-bottom: solid 1px rgba(211, 211, 211, 0.19);
}


.border-btn-cancel{
    border-left: solid 4px red;
    background-color: white;
    color: black;
}

.border-btn-hoje{
    border-left: solid 4px deepskyblue;
    background-color: white;
    color: black;
}

.border-btn-amanha{
    border-left: solid 4px #d41ed4;
    background-color: white;
    color: black;
    z-index: 9999;
}

.naopermitido{
    background-color: rgba(234, 234, 234, 0.38);
    border-left: solid 5px #7f7e7e;
}

.acompanhante{
     border-left: solid 5px yellow;
     cursor: pointer;
 }

.light-grey{
    color: rgba(211, 211, 211, 0.45);
}

.border-bottom-reservas{
    box-shadow:   0 5px 10px rgba(0, 0, 0, 0.19);
    border-radius: 8px 8px 8px 8px;
    border-left: solid 5px lawngreen;
    border-bottom: solid 1px rgba(204, 204, 204, 0.21);
}

.hidden {
    display: none;
}

.reservado {
    background-color: red;
    color: white;
}

.foto-usuario {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: contain;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAE6UlEQVR4Xu2a72/bRBjHv8/ZcRznR5O06apSpsFaRKFIkwYCpIkX7AX/JPB38AKBNoTEVE2gTTAomypYW9qmcbskTuLYvkPnMmghaeL4bDbVj5RXeZ7nnudzz909Ppsce1fgkgrnPKAMQFYB2RLI9oBLugci2wSzUyA7BrM+IGuEsk4w6wRT7AQFhxh2Ac8BfBeCB2ELQkwHdAPIlUBGCSBKpTVJpw8QAqJ3BOHsQ/SPAcEvTI5IAwo1UGkJZM1LPInBSByA6Nvg9mPA682WRK4INr8KMmuz2U+wSg6AEOD2rxCdPSWBs8oroNqq8qWRDACZ/OFDyNlXKXI5sMaGUgiJAODNRxDOgcrc//ZF5SWw+TeV+VYOQHT3wY9+VhbgKEes8RaouKhkDLUAhI9g5x4QeEqCG+tEM8BW3kd4WsQUpQB4ewdC7vgpCNXXIDfGuKIUQLC7edrgpCFGCdryu7FHUgZAeH3w3XuxA4rigK18ANLNKCb/0VUHIIXN79/Rs8Y6qHjlxQDA7ScQ7aexgolqTNWrYNXXo5qd01dWAbz5E4RzGCuYqMZUugK2sB7VLCEABw+Ud36TMiNrAWxxY5Lahf+rq4D/BcA82OI7LwiA5o8QTjNWMFGNZTcou8I4oq4CWlvKnvymTYhVVkD11WnVR+opAyBPAHkSpCkyeQkhjqgDIC8+Dh7EiSWyLVu6ATKrke3OGigDAO4j+P1bACm9ZyUCu3or9gOROgAA+N59iGEn1oxMayxnXlZAXFEKQDz7Dfx4O25MU9mz+nVQ5dWpdC9SUgvAH4DvfBc7qIkOiKCtfAhoxkTVSQpKAcjBwrvAXmvSuLH+J6sBtvh2LB/PjZUDEIMT8P0flAQ3zglbvgkyykrGUA4grIIE22IV/X8yx+BZr14Pwd4mIBQficTAlt8D5QpKZj+crKS+EEniRFC18ydfAeEIAoPHXyOnMyWzNfQ4CmsfK/GVEgDg4PsvUClpMHK5WIEPhx46PY7FG5/E8jPKOLElIAdrPvwS/XYLjUYdhjEbhKHr4bBpo1hdwMLG7ZcLQPuXOzg5OgAXHPX6HIpWtM3Lcfqw7WdgjKHWWEL5jY9eHgDCd9F+9BU4D9BuOyEECWCuWoauX/xGx/cDnBy30esPwuTL5RI0pqGyfhukz1ZJ48gltgTc5hMM9rfCcQPO0el05ZEDAsEs5GFZZrgsnsPwgwBDd4hez8WgPwifKbW/kpcQpJjL68jPX1NaBYkA4L6L7tY3EGfeEXIu0O058D1/qgRyuo5SyQLRP6cI6QbKa7dAen4qH9MoKQcgS9/Z3kQwGP1Y7LoeBm4fQTD6Mxld02Cap9UxSrTCHIrXbiqDoAxA4Pbgt/+A29w+N/PjZkGWvKwGuSzkB1GMCLmcDk2b/MZXVkJ+4TXolSVoeWuaiR6rMzMAOdOeYyPoHMF3WuDDfqxAZjVmORNasQ5d/kp1MKMYydXUAITvhYkGjg2va4O76dz8RMpGfk+m56FbNWjFGvRiDZpZufCTmrEA5Az7vWMEzjH8bmvsmo4aYOr6TIduVUMYulUHK86du0c8BdB6Krhcw/2TMOHwN0zpPX/aRORtklk5rQ6rDipUAtq7+7mY9PFi2nGmNh4x0N6dTxU/uKcWfvyBiDIAWQVkSyDbA7JN8JKfAnc/u7QA5P3En7l+XJpbCtFhAAAAAElFTkSuQmCC") no-repeat center;

}

.linha-borda{
    border: solid 2px grey;
}

.imgcenter {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/finaliza.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#aguarde {
    position: fixed;
    width: 85%;
    height: 100%;
}

#materialModal{
    font-family:roboto;
    color:#222;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:table;
    z-index:1000;
}

#materialModalCentered{
    display:table-cell;
    vertical-align:middle;
    padding: 20px;
}
#materialModalContent{
    border-top: solid 4px orange;
    border-radius: 8px;
    padding:10px;
    position:relative;
    background:white;
    max-width:400px;
    min-height:200px;
    margin:auto;
    box-shadow:0px 10px 20px 0px rgba(182, 182, 182, 0.4);
    box-sizing:border-box;
}
#materialModalTitle{
    margin:10px;
    font-weight:bold;
    font-size:1em;
}
#materialModalText{
    margin:10px;
    margin-bottom:40px;
}
#materialModalButtons{
    width:calc(100% - 20px);
    position:absolute;
    bottom:0px;
}
.materialModalButton{
    margin:10px;
    font-weight:bold;
    cursor:pointer;
    text-align:center;
    float:right;
    text-transform:uppercase;
    padding:10px;
}
#materialModal.hide{
    opacity:0;
    transition:opacity 0.2s ease-out;
    pointer-events:none;
}
#materialModal.hide #materialModalCentered{
    transform:scale(0.8);
    transition:transform 0.2s ease-out;
}
#materialModal.show{
    opacity:1;
    transition:opacity 0.2s ease-in;
}
#materialModal.show #materialModalCentered{
    transform:scale(1);
    transition:transform 0.2s ease-in;
}


.nav {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    overflow-x: auto;
}

.alinhardireita{
    margin-left: 94px;
}

.btn-chique{
    border: solid 1px #c8c8c9;
    border-radius: 6px;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: rgba(68, 68, 68, 0.68);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__link:hover {
    background-color: #eeeeee;
}

.nav__link--active {
    color: #009578;
}

.nav__icon {
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .espacamento-icon {
        background-color: lightblue;
        display: in;
    }
}


@media only screen and (min-width: 720px) {
    .logocanto {
        margin-left: 13rem
    }
    .coluna-logocanto{
        margin-left: 11rem
    }
    margin-border-cell{
        margin-top: 500px;
    }
}

